html {
  font-family: helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: black;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  color: black;
}

h4 {
  font-size: 23px;
  font-weight: bold;
}

footer {
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
}

.headingImg {
  background-image: url('../images/the-flatiron-building.png');
}

.subText {
  font-size: 14px;
  color: black;
}

a {
  color: white;
  font-size: 18px;
}
